body{
    background-color:rgb(155, 98, 138);
    margin:auto;
    text-align: center;
    display: block;
}
label{
    display: block;
    text-align: center;
    margin:1rem 1rem;
    font-size: x-large;
}
.input{
display: block;
margin: auto;
width:30vw;
height: 8vw;
font-size: larger;
}
.heading{
    text-align: center;
}
.button{
display: block;
margin: auto;
padding: 1rem;
margin-top: 3rem;
border-radius: 0.5rem;
font-size: larger;
}
.result{
font-size: x-large;
margin:2rem 1rem;
text-align: center;
}